<ion-header>
  <ion-toolbar>
    <ion-title>Articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <ion-grid>
    <ion-row class="three-blocks">
      <ion-col size="4">
        <a>
          <div>
            <img src="assets/img/pregnancy.png" />
            <span class="side-text">
              <span>PREGNANCY</span>
            </span>
          </div>
        </a>
      </ion-col>
      <ion-col size="4">
        <a>
          <div>
            <img src="assets/img/labor.png" />
            <span class="side-text">
              <span>LABOR</span>
            </span>
          </div>
        </a>
      </ion-col>
      <ion-col size="4">
        <a>
          <div>
            <img src="assets/img/baby_0-24.png" />
            <span class="side-text">
              <span>BABY 0 - 24</span>
            </span>
          </div>
        </a>
      </ion-col>
    </ion-row>
    <div class="productivity center">
      <a>
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <ion-icon name="alert"></ion-icon>
                </ion-col>
                <ion-col>
                  <div class="productivity-content">
                    <h5>Week 9 - Inside The Uterus</h5>
                    <p>Please verify your internet connectivity or switch to wifi</p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </a>
    </div>
  </ion-grid>
</ion-content>