<ion-header>
  <ion-toolbar color="noed">
    <ion-title>Add Checklist</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/tabs/tools/checklists'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <div class="center">
    <!--<app-logo></app-logo>-->
    <h1>{{h1_text}}</h1>
  </div>
  <form [formGroup]="form">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Checklist Title</ion-label>
      <ion-input formControlName="checklist_title" autocomplete="off" type="text" name="checklist_title"></ion-input>
    </ion-item>
    <span *ngIf="checklist_title.hasError('trimError')" > {{ checklist_title.errors.trimError.value }} </span>
    <div style="position: relative;" *ngFor="let entry of text_names; let i = index">
      <ion-item [disabled]="!form.controls[form_group_names[i]].valid">
        <ion-label position="stacked">{{form_group_names[i+1]}}</ion-label>
        <ion-textarea [formControl]="form.controls[entry]" autocomplete="off" type="text" name="{{entry}}"></ion-textarea>
        <span *ngIf="form.controls[text_names[i]].hasError('trimError')" > {{ form.controls[text_names[i]].errors.trimError.value }} </span>
      </ion-item>
      <ion-icon *ngIf="i>0" class="trash-icon" name="trash" (click)="confirmDel(i)"></ion-icon>
    </div>
  </ion-list>
  <div class="center">
    <ion-button share="round" [disabled]="!(form.valid)" color="noed" (click)="createInsert()"><span>Create</span></ion-button>
    <p><a (click)="addRow()">Add another item</a></p>
  </div>
  </form>
</ion-content>
