<ion-header>
  <ion-toolbar color="noed">
  <ion-title>NonEDApp</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding='true'>
  <div class="center">
    <!--<app-logo></app-logo>--> 
    <h1>Reset Password</h1>
  </div>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" autocomplete="off" name="email" type="email" ></ion-input>
      </ion-item>
      <span *ngIf="email.touched && email.errors?.email">
        Incorrect email format!
      </span>
      <ion-item [disabled]="!email.valid">
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" autocomplete="off" name="password" type="password"></ion-input>
      </ion-item>
      <span *ngIf="password.touched && password.errors?.invalidPassword">
          Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
          letter and 1 number!
      </span>
      <ion-item [disabled]="!password.valid">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input formControlName="confirmPassword" autocomplete="off" name="confirmPassword" type="password"></ion-input>
      </ion-item>
      <span *ngIf="confirmPassword.touched && confirmPassword.errors?.passwordMismatch">
        Passwords don't match!
      </span>
    </ion-list>
    <div class="center">
      <p>Remembered your password? <a routerLink='/login'>SIGN IN</a></p>
      <ion-button [disabled]="!(form.valid)" share="round" color="noed" (click)="resetPasswordAction();">
          <span>RESET PASSWORD</span>
      </ion-button>
    </div>
  </form>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Please wait...</p>
  </ngx-spinner>
</ion-content>