ion-icon {
    background-color: white; 
    border-radius: 0;
    color: #cb6fac;
    font-size: 25px;
    margin-top: 5%;
    margin-right: 5%;
    position: absolute;
    z-index: 10;
    right: 5%;
}
ion-list {
    ion-item {
        padding:0 20px;
    }
}
