<ion-header>
  <ion-toolbar color="noed">
  <ion-title>NonEDApp</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content padding='true'>
    <div class="center">
     <!--<app-logo></app-logo>--> 
      <h1>Sign Up</h1>
    </div>
    <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input class="capitalize" formControlName="name"autocomplete="off" name="name" type="text"></ion-input>
      </ion-item>
      <span *ngIf="name.hasError('trimError')" > {{ name.errors.trimError.value }} </span>
      <span *ngIf="name.touched && name.errors?.minlength">
        Name must be at least 4 characters long!
      </span>
      <ion-item [disabled]="!name.valid">
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" autocomplete="off" name="email" type="email" ></ion-input>
      </ion-item>
      <span *ngIf="email.hasError('trimError')" > {{ email.errors.trimError.value }} </span>
      <span *ngIf="email.touched && email.errors?.email">
        Incorrect email format!
      </span>
      <ion-item [disabled]="!email.valid">
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" autocomplete="off" name="password" type="password"></ion-input>
      </ion-item>
      <span *ngIf="password.touched && password.errors?.invalidPassword">
          Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
          letter and 1 number!
      </span>
      <ion-item [disabled]="!password.valid">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input formControlName="confirmPassword" autocomplete="off" name="confirmPassword" type="password"></ion-input>
      </ion-item>
      <span *ngIf="confirmPassword.touched && confirmPassword.errors?.passwordMismatch">
        Passwords don't match!
      </span>
      <ion-item [disabled]="!confirmPassword.valid">
        <ion-label position="stacked">Due Date</ion-label>
        <ion-input onkeydown="return false" formControlName="dueDate" autocomplete="off" name="dueDate" 
          type="date" [min]="pregnancyMinDate" [max]="pregnancyMaxDate"></ion-input>
        </ion-item>
      </ion-list>
      <div class="center">
        <p>Already have an account? <a routerLink='/login'>SIGN IN</a></p>
        <ion-button [disabled]="!(form.valid)" share="round" color="noed" (click)="signupAction();">
           <span>SIGN UP</span>
        </ion-button>
      </div>
      </form>
    </ion-content>