<ion-header>
  <ion-toolbar color="noed">
  <ion-title>NonEDApp</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content padding='true'>
    <div class="center">
      <!--<app-logo></app-logo>-->
      <h1>Sign In</h1>
    </div>
    <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" autocomplete="off" type="text" name="email"></ion-input>
      </ion-item>
      <span *ngIf="email.touched && email.errors?.email">
        Incorrect email format!
      </span>
      <ion-item [disabled]="!email.valid">
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" autocomplete="off" type="password" name="password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="center">
      <p><a routerLink='/signup'>Create Account</a></p>
      <ion-button share="round" [disabled]="!(form.valid)" color="noed" (click)="loginAction()"><span>Sign In</span></ion-button>
    </div>
    </form>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
</ion-content>