<ion-header>
  <ion-toolbar color="noed">
    <ion-title>Checklists</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/tabs/tools'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="center three-blocks">
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let entry of header_titles; let i = index">
        <div><!--style is set in global.scss, solid border and space between ion-col -->
          <span routerLink="checklist/{{i}}">
            <img src="assets/img/checklist.png" />
            <span class="side-text">
              <p>{{entry}}</p>
              <p>CHECKLIST</p>
            </span>
          </span>
          <ion-icon class="trash-icon" name="trash" *ngIf="i>0" (click)="confirmDel(i)"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4" routerLink="addchecklist/{{header_titles.length}}">
        <div>
          <span class="side-text">
            <p>ADD ANOTHER</p>
            <ion-icon class="add-icon" name="add-circle"></ion-icon>
            <p>CHECKLIST</p>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

