<ion-header>
  <ion-toolbar color="noed">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="header-img center">
    <img src="assets/img/header.png" />
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/img/womb_small.png" />
          <span class="side-text">
            Size Of
            {{baby_fruit_size}}
          </span>
        </ion-col>
        <ion-col class="circular-border" size="5">
          <span class="center-text">
            {{weeks_left}}
            Weeks
            Pregnant
          </span>
        </ion-col>
        <ion-col>
          <span class="side-text">
            {{days_pregnant}}<br/>
            DAYS TO
            BIRTH
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="this-week">
    <ion-grid class="center">
      <ion-row>
        <ion-col>
          <h5>HAPPENING THIS WEEK?</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="assets/img/baby_small.png" />
        </ion-col>
        <ion-col>
          <img src="assets/img/mommy_small.png" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="productivity">
    <ion-card>
      <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-icon name="menu"></ion-icon>
          </ion-col>
          <ion-col>
            <div class="productivity-content center">
              <ion-card-title>
                <h5>Productivity</h5>
              </ion-card-title>
              <p>{{progress*100}}% TASKS DONE</p>
              <ion-progress-bar value={{progress}}></ion-progress-bar>
              <!--<ion-button fill="outline" slot="end">View</ion-button>-->
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="productivity">
    <ion-card>
      <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="2" class="warning">
            <ion-icon name="alert"></ion-icon>
          </ion-col>
          <ion-col>
            <div class="productivity-content">
              <ion-card-title>
                <h5>COVID-19 ALERTS!</h5>
              </ion-card-title>
              <p>Get Latest Updates</p>
              <p>How It Affects Pregnancy</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="productivity center">
    <a routerLink='/cal-page'>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            <h5>ANTENATAL CHECK-UPS</h5>
          </ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-icon name="calendar-sharp"></ion-icon>
              </ion-col>
              <ion-col>
                <div class="productivity-content">
                  <p>Set Your Check-Ups Date</p>
                  <p>View Your Check-Ups Date</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </a>
  </div>
  <div class="productivity center">
    <a routerLink='/event-page'>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            <h5>ANTENATAL CHECK-UPS</h5>
          </ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-icon name="calendar-sharp"></ion-icon>
              </ion-col>
              <ion-col>
                <div class="productivity-content">
                  <p>Set Your Check-Ups Date</p>
                  <p>View Your Check-Ups Date</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </a>
  </div>
</ion-content>
