.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }

  :host {  
    --super-tabs-toolbar-background: #cb6fac;
    --st-indicator-color: #fff;
    color: #fff;
  }
.header-img {
  img {
    height: 35vh;
    width: 100%;
  }
  position: relative;
  ion-grid {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
  }
  ion-row {
    height: 65%;
  }
  ion-col {
    color: #fff;
    font-weight: bolder;
    padding:10px;
    img {
      height: 5vh;
      width: auto;
    }
    .side-text {
      font-size: 14px;
    }
  }
}
.circular-border {
  border: solid white 3px ;
  border-radius: 50%;
}
.this-week {
  position: relative;
  margin-top: -20px;
  img {
    height: 8vh;
  }
  h5 {
    font-weight: 700;
    font-size:17px;
  }
}
.warning {
  ion-icon {
    background-color: #ff0000;
  }
}

  