/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.cal-modal {
    --height: 80%;
    --border-radius: 10px;
    padding: 25px;
}

.popover_setting .popover-content {
    --min-width: 50% !important;
    --min-height: 150px !important;
    --ion-background-color: #cb6fac;
    --ion-text-color: #ffffff;
    background-color: #cb6fac;
}

ion-header {
    ion-title, ion-icon {
        color:#fff;
    }
    ion-toolbar {
        color: #fff;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(assets/img/cal-icon.png) no-repeat;
}

ion-content {
    color: #fff;
    a {
        color:#cb6fac;
        text-decoration: none;
    }
    ion-button {
        span {
            color:#fff;
        }
    }
}

.alert-wrapper.sc-ion-alert-md {
    border-radius: 13px;
    overflow: hidden;
    max-width: 270px;
    background-color: #f8f8f8;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 20px;
}
.alert-head.sc-ion-alert-md {
    text-align: center;
    padding: 12px 16px 7px;
    border-bottom: 1px solid #c3b9b9;
}
.alert-title.sc-ion-alert-md {
    margin: 0;
    padding: 0;
}
.alert-title.sc-ion-alert-md {
    font-size: 20px;
    font-weight: 550;
    color: #33232e;
}

.alert-sub-title.sc-ion-alert-md {
    font-size: 14px;
    color: #666;
}
.alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
    padding-top: 10px;
    border-bottom: 1px solid #c3b9b9;
}

.alert-button-group.sc-ion-alert-md {
    justify-content: center;
}

.alert-button.sc-ion-alert-md {
    color: #7c8189;
    font-weight: 600;
    border: 1px solid;
    padding: 4px;
}

.productivity {
    ion-icon {
      background-color:  #cb6fac;
      border-radius: 50%;
      padding: 10px;
      color:#fff;
      font-size:24px;
      float: left;
    }
    .productivity-content {
      width: 80%;
      float: right;
    }
    h5 {
      font-size:17px;
      font-weight: 700;
    }
    ion-card-content {
      padding: 0;
    }
    ion-card-title {
      padding-top: 10px;
    }
    a {
      text-decoration: none;
    }
  }
.three-blocks {
    padding-top: 16px;
    ion-col {
        font-weight: bolder;
        padding:5px;
        div {
            border: solid 1px #1f1f1f;
            padding:5px;
            padding-bottom: 20px;
        }
        img {
          height: 10vh;
          width: auto;
        }
        .side-text {
            color: #272424;
            font-size: 11px;
        }
        div {
            width: 100%;
        }
      }
}
ion-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
