ion-row {
    padding: 5px 10px;
    background-color: #cb6fac;
    color: white;
    ion-col:nth-child(1) {
        align-items: flex-start;
        h6, ul {
            margin: 1px;
            font-weight: 700;
        }
    }
    ion-col:nth-child(2) {
        align-items: flex-start;
        h6, ul {
            margin: 0;
            font-weight: 700;
        }
    }
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

ion-icon {
    color: #fff;
}

ion-fab-button ion-icon {
    zoom: 4;
    background: transparent;
}

.trash-icon {
    position: absolute;
    bottom: 5px;
    right: 20px;
    z-index: 2;
}


