<ion-header [translucent]="true">
  <ion-toolbar color="noed">
    <ion-title>
      NonEDApp
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="settingsPopover()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-tabs>

  <ion-tab-bar slot="bottom">
  <ion-tab-button tab="home">
    <ion-icon src="assets/img/no_app_tabs/no_app_tab_1.svg"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="tools">
    <ion-icon src="assets/img/no_app_tabs/no_app_tab_2.svg"></ion-icon>
    <ion-label>Tools</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="articles">
    <ion-icon src="assets/img/no_app_tabs/no_app_tab_3.svg"></ion-icon>
    <ion-label>Articles</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="location">
    <ion-icon src="assets/img/no_app_tabs/no_app_tab_4.svg"></ion-icon>
    <ion-label>Location</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="drink-water">
    <ion-icon src="assets/img/no_app_tabs/no_app_tab_5.svg"></ion-icon>
    <ion-label>Drink Water</ion-label>
  </ion-tab-button>

  
  
  </ion-tab-bar>
  </ion-tabs>